<!-- Begin MailChimp Signup Form -->
<div ng-if="boletin" class="boletin">
	<div id="mc_embed_signup" class="form-boletin">
		<form action="//globalmedia.us8.list-manage.com/subscribe/post?u=6d04e421864937c216cf2276b&amp;id=ed8e7aeb1a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    <div id="mc_embed_signup_scroll">
			<label for="mce-EMAIL">Subscribete a nuestro Newsletter</label>
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email" required>
		    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6d04e421864937c216cf2276b_ed8e7aeb1a" tabindex="-1" value=""></div>
		    <div class="clear" ng-click="cierra()"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
		    <button class="btn btn-danger" ng-click="cierra()">Cancelar</button>
		    </div>
		</form>
	</div>
</div>
<!--End mc_embed_signup-->
<div class="container-fluid">
	<!--BANNE HEADER PRINCIPAL-->
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1 slider" >
				<a ng-repeat="slide in slidesP" ng-href="http://{{slide.hyperlink}}" ng-show="isCurrentSlideIndex($index)">
					<img class="slide slide-animation img-responsive" ng-src="{{slide.path.substr(6)}}" >
				</a>

				<a class="arrow prev" href="" ng-click="nextSlide()"></a>
			
				<a class="arrow next" href="" ng-click="prevSlide()"></a>

				<nav class="navz">
					<div class="wrapper">
						<ul class="dots">
						<li class="dot" ng-repeat="slide in slidesP">
							<a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
							   ng-click="setCurrentSlideIndex($index);">
							</a>
						</li>
						</ul>
					</div>
				</nav>

		</div>
	</div>
	<div class="row">
		<nav class="navbar navbar-default navbar-inverse" pega>
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  	<a style="margin-left:20px; color:white;" class="navbar-brand" href="#">
				  	<span aria-hidden="true"><img style="width:100px;" class="img-responsive" src="images/common/logo-globalWhiteMenu.png" alt="logo"></span>
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="collapse-1">
				<ul class="nav navbar-nav">
					
					<li class="dropdown">
					  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">RADIO Y TV<span class="caret"></span></a>
					  <ul class="dropdown-menu">
						<li><a ui-sref="los40" target="_blank">LOS 40</a></li>
						<li><a ui-sref="hundred" target="_blank">WFM</a></li>
						<li><a ui-sref="pop" target="_blank">RMX</a></li>
						<li><a ui-sref="kebuena" target="_blank">KE BUENA</a></li>
						<li><a ui-sref="formula" target="_blank">RADIOFORMULA</a></li>
						<li><a ui-sref="imagen" target="_blank">IMAGEN</a></li>
						<li><a ui-sref="ViveCanal" target="_blank">VIVECANAL</a></li>
					  </ul>
					</li>
					
					<li class="dropdown">
					  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SECCIONES <span class="caret"></span></a>
					  <ul class="dropdown-menu">
						<li><a ui-sref="SanLuis"><div class="colored seccion-1"></div>SAN LUIS</a></li>
						<li><a ui-sref="Seguridad"><div class="colored seccion-2"></div>SEGURIDAD</a></li>
						<li><a ui-sref="Nacional"><div class="colored seccion-3"></div>NACIONAL</a></li>
						<li><a ui-sref="Internacional"><div class="colored seccion-4"></div>INTERNACIONAL</a></li>
						<li><a ui-sref="Farandula"><div class="colored seccion-5"></div>FARÁNDULA</a></li>
						<li><a ui-sref="Tactica"><div class="colored seccion-6"></div>TÁCTICA</a></li>
						<li><a ui-sref="Negocios"><div class="colored seccion-8"></div>NEGOCIOS</a></li>
						<li><a ui-sref="Estados"><div class="colored seccion-9"></div>ESTADOS</a></li>
						<li><a ui-sref="Actualidad"><div class="colored seccion-12"></div> ACTUALIDAD</a></li>
						<!--<li><a ui-sref="noticieros"><div class="colored seccion-11"></div> NOTICIEROS</a></li>-->
					  </ul>
					</li>
					<li><a ui-sref="InvestigacionEspecial" class="especial">INVESTIGACIÓN ESPECIAL</a></li>
					<li><a ui-sref="Denuncia" class="denuncia">DENUNCIA GLOBAL</a></li>
					<li><a ui-sref="Trafico" class="trafico">TRÁFICO SAN LUIS</a></li>
					<li><a ui-sref="Acercade">ACERCA DE</a></li>
				  </ul>
				
					<form class="navbar-form navbar-right" role="search" ng-submit="find({id:abuscar, pag: 1})">
					  <div class="form-group">
						<input ng-model="abuscar" style="width:300px;" type="text" class="form-control" placeholder="Buscar noticias">
					  </div>
					</form>
			</div><!-- /.navbar-collapse -->
		</nav>
	</div>
	<div class="row">
		<img style="padding-top:10px;" class="col-lg-3 col-lg-offset-1 img-responsive" alt="encabezado slogan" src="images/common/logo-encabezado.png">
		<div class="col-lg-7" style="padding:0px;">
			<h4 class="fecha-header">SAN LUIS POTOSI {{fecha.dia}} DE {{fecha.mes}} / {{fecha.hora}}:{{fecha.minutos}}HRS</h4>
			<div class="col-lg-6 col-xs-10 col-sm-10 redes">
				<a href="" ng-click="suscribe()"><img alt="Newsletter" src="images/common/mail.png"></a>
				<a href="https://www.facebook.com/GlobalMediaSLP/?fref=ts"><img alt="facebook" src="images/common/facebook.png"></a>
				<a href="https://twitter.com/globalmediamx"><img alt="twitter" src="images/common/twitter.png"></a>
				<a href="https://www.youtube.com/channel/UCqF55I3fwX8fs0AEgaIvNQQ"><img alt="youtube" src="images/common/youtube.png"></a>
				<a ui-sref="Trafico"><img alt="trafico" src="images/common/traf.png"></a>
			</div>
			<div class="col-xs-12 col-sm-12 col-lg-offset-1 col-lg-8 clima">
				<div class="row">
					<img class="col-xs-2 col-sm-2 col-lg-2" style="float:left; margin-top:20px;" alt="logo clima" src="images/common/clima.png">
					<table class="col-sm-4 col-xs-4 col-lg-4">
						<caption>Clima</caption>
						<th>Actual</th>
						<th>A las {{horaP}}Hr</th>
						<tr>
							<td>{{clima.temp}}°C</td>
							<td>{{pronostico.temp}}° C</td>
						</tr>
					</table>
					<table class="col-sm-5 col-xs-5 col-lg-5">
						<caption>Tipo de cambio a la venta:</caption>
						<th>Dolar</th>
						<th>Euro</th>
						<tr>
							<td>${{dolar | number:2}}</td>
							<td>${{euro | number:2}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div style="margin-top:0px; margin-left:-30PX;">
			</div>
		</div>
	</div>
</div>