.notaP{
	height: 450px;
	background-size: 83% 100%;
	background-position: 50% 120%;
	/*background-attachment: fixed;*/
	padding: 0px;
	margin: 0px;
	cursor: pointer;
}

.smoke{
	position: absolute;
	top: 60%;
	left: 0px;
	width: 100%;
	height: 31%;
	background-color: rgba(0,0,0,0.4);
}

.smoke a p:nth-child(2){
	color: white;
	font-size: 12pt;
	font-family: Arial;
	margin-left: 80px;
}

#titulo{
	font-family: Arial;
	font-weight: bold;
	font-size: 20pt;
	text-align: left;
	color: white;
}
#titulo2{
	font-family: Arial;
	font-size: 13pt;
	text-align: left;
	color: white;
}

#fecha{
	font-family: Arial;
	font-size: 10pt;
	text-align: right;
}

.cuerpo{
	margin-top:40px;
	font-family: Arial;
	font-size: 15pt;
	font-family: "Segoe UI","Frutiger Linotype", "Dejavu Sans", "Helvetica", Arial, sans-serif !important;
	overflow: hidden;
}

.almomento{
	border: 1px solid #bfbfbf;
}

.tittle-tema{
	background-color: #195a90;
	color: white;
	padding: 10px 5px 10px 15px;
}

.seccion{
	background-color: black;
	color: white;
	font-size: 12pt;
	font-weight: bold;
	font-family: Arial;
}

@media (max-width: 767px) {
	.notaP{
		height: 200px;
		background-size: 100% 100%;
		background-position: 0% 50%;
		background-attachment: local;
		padding: 0px;
		margin: 0px;
	}

	#titulo{
		font-family: Arial;
		font-weight: bold;
		font-size: 10pt;
		text-align: left;
	}
	.cuerpo{
		font-size: 11pt;
		overflow: hidden;
	}
	#titulo2{
		font-family: Arial;
		font-size: 9pt;
		text-align: left;
		color: white;
	}
	.smoke{
		position: absolute;
		top: 60%;
		left: 0px;
		width: 100%;
		height: 40%;
		background-color: rgba(0,0,0,0.4);
	}
}