<div class="flota">
	<img class="img-responsive logo" src="images/common/logo_global.png" alt="Logo Global">
	<p style="color:red; margin-left:10%;">{{mensaje}}</p>
	<form ng-submit="login()">
		<input style="margin-top:5%;" type="text" placeholder="Nombre de usuario" ng-model="username">
		<input type="password" placeholder="Contraseña" ng-model="password">
		<button type="submit" name="login" class="btn-primary boton">Iniciar Sesión</button>
	</form>
</div>