h1, h2, h3, h4, h5, p{
	color:black;
	padding: 0px;
	margin: 0px;
	font-family: Arial;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.hara{
	font-family: Harabara;
}

.tex{
	text-align:justify;
	font-size: 13pt;
	margin-top: 30px;
}